<nav role="navigation" class="header-color nav-top">
    <div class="container">
        <div class="nav-wrapper">

            <a href="/">
                <img alt="Deepmosaic" class="nav-main-logo" src="/assets/img/logo-font.png" class="logo-font">
            </a>

            <div class="hide">

            <ul class="right header-right-bar hide-on-small-only">
                <li>
                    <a href=https://app.deepmosaic.jp/login>{{ site.data.lang.ja.login }}</a>
                </li>
                <li>
                    <a class='waves-effect waves-light btn blue-grey language-dropdown-button'
                        href="https://app.deepmosaic.jp/signup">{{ site.data.lang.ja.signup }}<i class="tiny material-icons">open_in_new</i></a>
                </li>
            </ul>

            <div class="right header-right-bar hide-on-med-only hide-on-large-only show-on-small">
                <a class="dropdown-trigger btn-small"
                    href='#' data-target='header-app-dropdown'>
                    <i class="header-dehaze material-icons">dehaze</i>
                </a>

                <ul id='header-app-dropdown' class='row dropdown-content header-app-dropdown'>
                    <li><a href="#!">{{ site.data.lang.ja.login }}</a></li>
                    <li><a href="#!">{{ site.data.lang.ja.signup }}</a></li>
                </ul>
            </div>

            </div>

        </div>
    </div>
</nav>
