<nav role="navigation" class="header-color nav-top">
    <div class="container">
        <nav class="nav-top">
            <div class="nav-wrapper">
                <a href="/">
                    <img alt="Deepmosaic" class="nav-main-logo" src="/assets/img/logo-font.png">
                </a>

                <ul id="slide-out" class="sidenav right">
                    <li class="sidenav-icon-box"><a href="/">
                        <img alt="Deepmosaic" class="nav-main-logo" src="/assets/img/logo-font.png">
                    </a></li>
                    <li>
                        <a download
                        href="{{ site.data.lang.ja.app_download_link }}">ダウンロード</a>
                    </li>
                    <li><a href="/price">{{ site.data.lang.ja.price }}</a></li>
                    <li><a href="/docs">{{ site.data.lang.ja.document }}</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSedhPxi0r55_iIp8d02qKiFVSG-91P0qib0U6ayKpACw0NLzg/viewform?usp=sf_link" target="_blank">{{ site.data.lang.ja.contact }}</a></li>
                </ul>
                
                <ul class="sidenav-trigger-button">
                    <a href="#" data-target="slide-out" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                </ul>

                <ul class="right header-right-bar header-contact-display-button">
         
                    <li>
                        <a href="/price" class="header-document-link">{{ site.data.lang.ja.price }}</a>
                    </li>
                    <li>
                        <a href="/docs" class="header-document-link">{{ site.data.lang.ja.document }}</a>
                    </li>
                    <li>
                        <a class='waves-effect waves-light btn blue-grey language-dropdown-button header-contact-button' target="_blank"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSedhPxi0r55_iIp8d02qKiFVSG-91P0qib0U6ayKpACw0NLzg/viewform?usp=sf_link">{{ site.data.lang.ja.contact }}<i class="tiny material-icons">open_in_new</i>
                        </a>
                    </li>
                </ul>

                <!--
                <ul class="right header-right-bar hide-on-small-only">
                    <li>
                        <a href=https://app.deepmosaic.jp/login>{{ site.data.lang.ja.login }}</a>
                    </li>
                    <li>
                        <a class='waves-effect waves-light btn blue-grey language-dropdown-button'
                            href="https://app.deepmosaic.jp/signup">{{ site.data.lang.ja.signup }}<i class="tiny material-icons">open_in_new</i></a>
                    </li>
                </ul>

                <div class="right header-right-bar hide-on-med-only hide-on-large-only show-on-small">
                    <a class="dropdown-trigger btn-small"
                        href='#' data-target='header-app-dropdown'>
                        <i class="header-dehaze material-icons">dehaze</i>
                    </a>

                    <ul id='header-app-dropdown' class='row dropdown-content header-app-dropdown'>
                        <li><a href="#!">{{ site.data.lang.ja.login }}</a></li>
                        <li><a href="#!">{{ site.data.lang.ja.signup }}</a></li>
                    </ul>
                </div>
                -->

            </div>
        </nav>
    </div>
</nav>
