<table class="striped">
    <tbody>
        <tr>
            <td>OS</td>
            <td>Microsoft Windows 10, 11（64 ビット）</td>
        </tr>
        <tr>
            <td>CPU</td>
            <td>Intel® 第 7 世代以降 CPU または同等の AMD CPU</td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>32GB以上を推奨</td>
        </tr>
        <tr>
            <td>ストレージ空き容量</td>
            <td>10GB以上の空き容量</td>
        </tr>
        <tr>
            <td>GPU（推奨）</td>
            <td>GeForce 20, 30, 40、50シリーズ以上。メモリ4GB以上<br>※オートトラッキング機能を利用する場合はGPU必須</td>
        </tr>
        <tr>
            <td>モニター</td>
            <td>1,920 x 1,080 以上</td>
        </tr>
        <tr>
            <td>インターネット環境</td>
            <td>ソフトウェアの認証、およびサブスクリプションの検証にインターネット接続が必要</td>
        </tr>
    </tbody>
</table>
