<div class="overflow-x-auto">
  <table class="w-full border-collapse text-left">
    <tbody>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">OS</td>
        <td class="px-4 py-3">Microsoft Windows 10, 11（64 ビット）</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">CPU</td>
        <td class="px-4 py-3">Intel® 第 7 世代以降 CPU または同等の AMD CPU</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">Memory</td>
        <td class="px-4 py-3">32GB以上を推奨</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">ストレージ空き容量</td>
        <td class="px-4 py-3">10GB以上の空き容量</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">GPU（推奨）</td>
        <td class="px-4 py-3">GeForce 20, 30, 40、50シリーズ以上。メモリ4GB以上<br>※オートトラッキング機能を利用する場合はGPU必須</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">モニター</td>
        <td class="px-4 py-3">1,920 x 1,080 以上</td>
      </tr>
      <tr class="border-b border-gray-200 even:bg-gray-50">
        <td class="px-4 py-3 font-medium whitespace-nowrap align-top">インターネット環境</td>
        <td class="px-4 py-3">ソフトウェアの認証、およびサブスクリプションの検証にインターネット接続が必要</td>
      </tr>
    </tbody>
  </table>
</div>
