{%- comment -%}
JSON-LD: Organization (TICKET-SITE-05)。全ページに出力する。
会社情報の出所は 1 箇所にまとめる (company/asct.html と食い違わせない)。
{%- endcomment -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Deepmosaic合同会社",
  "url": "https://www.deepmosaic.co.jp",
  "logo": "https://www.deepmosaic.co.jp/assets/img/logo-font.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "contact@deepmosaic.co.jp",
    "contactType": "customer service"
  }
}
</script>
