---
layout: default
title: 会社概要
permalink: /company/about
---

{% include header.html %}

<div class="container">
<div class="col-xs-12 rc-company company-about-div">

<h2 class="rc-company-chapter">会社概要</h2>

<table class="striped highlight">
    <tbody>
      <tr>
        <td>社名</td>
        <td>Deepmosaic合同会社</td>
      </tr>
      <tr>
        <td>設立日</td>
        <td>2019-05-10</td>
      </tr>
      <tr>
        <td>所在地</td>
        <td>東京都品川区</td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>百万円</td>
      </tr>
      <tr>
        <td>事業内容</td>
        <td>ディープラーニングを用いた映像編集ソフトウェアの企画、開発、販売、コンサルティング<!--<br>2. 個人情報匿名化ソフトウェアの企画、開発、販売、コンサルティング--></td>
      </tr>
    </tbody>
</table>

<!--
<h2 class="rc-company-chapter">代表略歴</h2>

<table class="striped highlight">
    <tbody>
      <tr>
        <td>2016-07 ~ 現在</td>
        <td>Rediscontainer株式会社 代表取締役</td>
      </tr>
      <tr>
        <td>2017-03 ~ 2018-06</td>
        <td>ランサーズ株式会社 機械学習エンジニア</td>
      </tr>
      <tr>
          <td>2018-07 ~ 現在</td>
          <td>ソフトバンク株式会社 プロダクトマネジャー</td>
      </tr>
      <tr>
          <td>2019-05 ~ 現在</td>
          <td>Deepmosaic合同会社 代表</td>
      </tr>
    </tbody>
</table>

<h2 class="rc-company-chapter">代表実績</h2>
<p>
  <a href="http://tech.nikkeibp.co.jp/it/atcl/news/17/020503100/" target="_blank">ランサーズが「マルチ商法チェッカー」を無償で公開、検知率は99％</a>
</p>
<p>
  <a href="https://bcu30.jp/2018/" target="_blank">
  <img src="/assets/img/bcu30.png" width="200px">
  </a>
</p>


<h2 class="rc-company-chapter">創業メンバー</h2>
<div class="row">
    <div class="col s2">
        <img >
    </div>
    <div class="col s10">
        <p></p>
    </div>
</div>
-->
</div>
</div>

{% include footer.html %}
