@media only screen and (min-width: 993px) {
    .container {
        width: 85% !important;
    }
}
p {
  line-height: 2rem;
}
label {
    color: #039be5;
}
.bold-text {
    font-weight: bold;
}
.oblique-text {
    font-style: oblique;
}
.row {
    margin-bottom: 0px !important;
}
i.left {
    margin-right: 2px !important;
}
.ajax-error-red {
    background-color: #c44f47;
}
.icon-black {
    color: rgba(0,0,0,0.87);
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
footer.page-footer {
  margin: 0;
}

.nav-top {
    height: 64px;
    background : none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.top-panel {
    background: linear-gradient(135deg, #082947e3, #082947 20%, #0d4375d9);
    background-size: cover;
    position: relative;
    padding-bottom: 76px;
}
.particleground {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header-contact-button {
    margin-top: 8px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.header-text {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 900;
}
.header-text-sub {
    font-weight: 100;
}
.header-box {
    margin-top: 120px;
    margin-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.demo-button-box {
    margin-top: 120px;
    margin-bottom: 120px;
}
.demo-button {
    width: 250px;
    font-weight: 100;
    font-size: 1.44rem;
}
@media (max-width: 768px) {
    .header-box {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .header-text {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .header-text-sub {
        font-size: 18px;
    }
    .demo-button-box {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.console_snapshot {
    max-width: 850px;
    box-shadow: 0px -2px 43.5px -8.5px rgba(0, 0, 0, 0.18);
}
.sub-title {
    font-size: 28px;
}
.footer-fb-link {
    margin: 4px 0px;
}

.not-found-page-box {
    padding: 20px 0 200px 0px;
}
.rc-company {
  padding-bottom: 60px;
}
.rc-company table tr td {
  white-space: normal;
  padding-left: 18px;
}
.rc-company-title {
  font-size: 2.5rem;
  color: rgba(0,0,0,0.75);
  text-shadow: 0 1px 0 #fff;
  font-weight: 600;
  padding-bottom: 12px;
}
.rc-company-chapter {
  margin-top: 2rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: #082947;
}
.rc-company-section {
  padding-left: 0px;
  margin-bottom: 16px;
}
.rc-company-number {
  padding-left: 6px;
}
.rc-reset-password-form-box form{
  padding-top: 0px;
}
.rc-reset-password-annotation {
  padding: 20px 20px 0 20px;
}
.rc-about-sub-title {
  margin: 32px 0 20px 0;
}
.rc-about-fact dt {
  min-height: 70px;
  margin-bottom: 46px;
  font-weight: 400;
}
.rc-about-fact i {
  margin-bottom: 40px;
  float: left;
  font-size: 30px;
  padding: 4px 18px 10px 22px;
  font-weight: 400;
}
.rc-about-fact p {
  padding-top: 8px;
}
.rc-about-press-assets {
  margin-bottom: 40px;
}
.rc-about-press-assets h3 {
  color: #419eda;
  margin: 60px 0 40px 0;
  font-size: 26px;
  line-height: 36px;
  padding-left: .9375rem;
}
.rc-about-press-assets-center-box {
  height: 212px;
}
.rc-about-press-assets-center-box i {
  font-size: 70px;
  color: #626262;
}
.rc-about-press-assets-center-box a{
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 70px;
}
.rc-about-press-assets-center-icon {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 70px;
}
.about-performance-box {
    padding: 6px 30px;
}
.nav-main-logo {
    width: 230px;
}
.main-phrase {
    margin-top: 86px;
    font-size: 3.6rem;
}
.sub-phrase {
    font-size: 1.625rem;
    padding: 4px 60px 16px 60px;
    color: rgba(255,255,255,0.65);
}
.sub-start a{
    padding: 0 2rem;
font-size: 1.65rem;
}
@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
    .main-phrase {
        margin-top: 36px;
        font-size: 3em;
    }
    .sub-phrase {
        font-size: 1.2rem;
        padding: 4px 0px 16px 0px;
    }
    .nav-main-logo {
        width: 180px;
        margin-top:5px;
    }
}
.file-upload-box {
    margin: 50px 0 70px 0;
}
.image-section {
    background-color: #252527;
    padding: 20px 0;
}
.operation-section {
    padding: 20px 0;
}
.footer-box {
    padding: 40px 0;
}
.footer-box li {
    padding: 6px 0;
}
.filepond--root {
    cursor: pointer;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.filepond--label-action {
    text-decoration-color: #039be5;
}
.file-upload-icon {
    display: block;
    margin-bottom: -6px;
}
.card-image-box {
    min-height: 94px;
}
.card-image-description {
    padding: 32px;
}
.card-image-loader {
    margin-top: 32px;
}
.language-dropdown-button {
    padding: 0 1rem;
}
.social-box li {
    float: left;
    padding-right: 14px;
}
.social-box a {
    background: #222326;
    color: #FFF;
    -webkit-transition: none;
    transition: none;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
}
.social-box a:hover {
    color: #039be5;
}
.social-box svg {
    width: 24px;
    height: 24px;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
    display: block;
}
.lang-sestion {
    margin-top: 2rem;
}
.header-color {
    background: linear-gradient(135deg, #082947e3, #082947 20%, #0d4375d9);
    background-size: cover;
}
.control-button-css {
    padding: 0px 1rem;
}
.nav-contact-button {
    margin-top: 16px;
}
.summary-section {
    padding: 20px 0;
}
.summary-icon {
    height: 60px;
}
.icon-svg {
    width: 50px;
}
.icon-block {
  padding: 20px 4px;
  font-size: inherit;
}


img {
  max-width: 100%; /* For cropper.js This rule is very important, please do not ignore this! */
}
.project-body {
    background-color: #f4f4f4;
}
.project-navbar {
    padding-right: 20px;
    background-color: #ffffff;

}
.project-edit-box {
    text-align: center;
    background-color: #1d1d20;
}

.project-edit-img-controller,
.project-edit-layer-box a {
    background: -moz-linear-gradient(45deg, rgba(85,85,85,1) 0%, rgba(72,72,72,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(85,85,85,1)), color-stop(100%, rgba(72,72,72,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(85,85,85,1) 0%, rgba(72,72,72,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(85,85,85,1) 0%, rgba(72,72,72,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(85,85,85,1) 0%, rgba(72,72,72,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(85,85,85,1) 0%, rgba(72,72,72,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#555555',GradientType=1 ); /* ie6-9 */
}
.project-edit-img-controller a,
.project-edit-layer-box a {
    background-color: #727171;
    margin: 1rem 0 1rem 0.8rem;
    padding: 0 1rem;
}
.project-edit-img-controller a:hover,
.project-file-upload-modal a:hover,
.project-edit-layer-box a:hover {
    background-color: #868282;
}
.project-detection-list-add-button {
    background-color: #727171;
    margin-top: 12px;
    padding: 0 1rem;
}
.project-detection-list-add-button:hover {
    background-color: #868282;
}
.project-file-upload-modal a {
    background-color: #727171;
    float: right;
    margin: 0 12px 12px 0;
    padding: 0 1rem;
}
.project-edit-section {
    display: inline-table;
    margin-top: 12px;
}
.project-edit-layer-box {
    display: inline-table;
    padding-left: 0px !important;
}
.project-edit-img-class-collection {
    margin: 0px;
}
.project-edit-image-upload-progress {
    margin: 0px;
}
.project-setting-box {
    padding-top: 6px;
    right: 2rem;
    position: absolute;
}
.project-setting-box a {
    color: #fff;
}
.project-setting-box a:hover {
    color: #e0e0e0;
}
.dropdown-content {
    width: 120px;
    left: -100px;
    top: 43px;
}
.project-detection-list-box {
    background-color: #727171;
}
.project-detection-list {
    padding: 12px !important;
    color: #fff;
}
.project-detection-list-section {
    padding-right: 9px;
    border-right: 1px solid #484848;
    height: 100%;
    position: fixed;
}
.home-guide-image {
    border-radius: 6px;
}
.footer-company-box {
    margin-top: 20px;
}
.footer-company-box a {
    color: #fff;
}
.footer-company-box a:hover {
    color: #039be5;
}
.card-to-detect-list {
    background-color: #f9f9f9;
    margin-top: 60px;
    border-radius: 10px;
}
.card-to-detect-list img {
    border-radius: 0 0 10px 10px !important;
}
.box-to-detect-list {
    padding-top: 16px;
    padding-bottom: 32px;
}
.box-to-detect-list i {
    float: left
}
.box-to-detect-list span {
    display: block;
    min-width: 100px;
    float: left

}
.title-to-detect-h3 {
    font-size: 1.6rem;
    margin-top: 6px;
    margin-bottom: 6px;
}
.check-icon-to-detect-internal-div {
    margin-top: 20px;
    padding-left: 60px;
}
@media (max-width: 768px) {
    .check-icon-to-detect-internal-div {
        padding-left: 0px;
    }
}
.check-icon-to-detect-internal-div span {
    padding-left: 20px;
    padding-top: 4px;
}
.check-icon-to-detect {
    color: #42ca49;
}
.usecase-container {
    padding-top: 40px;
    padding-bottom: 60px;
}
.usecase-title {
    padding-top: 20px
}
.usecase-box {
    padding-top: 20px;
}
.usecase-box-card {
    border-radius: 10px;
    min-height: 340px;
}
.usecase-box-card img {
    border-radius: 10px 10px 0 0 !important;
    filter: blur(0.7px);
}
.usecase-explain-text {
    font-size: 18px;
}
.image_upload_section {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 300px;
}
.modal-project-start-dropzone {
    min-height: 140px;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.modal-project-start-dropzone:hover {
    border-color: #409EFF;
}
.dropzone-picture-icon {
    font-size: 10rem;
    color: #757575;
}
.dropzone-picture-box {
    padding: 30px;
}
.image_upload_loading_box {
    padding-top: 60px;
}
.konva-outbox {
    position: relative;
}
.image_upload_result_img {
    border-radius: 10px;
    top: 0;
    z-index: -100000;
}
.konva-box {
   height: 100%;
   position: absolute;
}
.konva-card {
    background-color: unset !important;
}
.wait-list-section {
    background: linear-gradient(135deg, #082947e3, #082947 20%, #0d4375d9);
    padding: 3rem 0 5rem 0;
    margin-bottom: 60px;
}
.wait-list-section li {
    font-size: large;
    margin-bottom: 6px;
}
.wait-list-box {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.ai-step-main-title {
    margin-bottom: 48px;
}
.ai-step-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #485aff;
    margin-bottom: unset;   
}
.spec-container {
    padding-bottom: 70px;
}
.spec-container h4 {
    padding-bottom: 20px;
}
