.signup-card {
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.signup-google-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup-google-button svg{
        height: 30px;
        display: block;
        float: left;
        margin-top: 12px;
        margin-right: 12px;
}
.signup-google-button span{
    color: rgba(0,0,0,0.87);
}
.signup-temrs {
    margin-top: 40px;
    margin-bottom: 20px;
}
@media only screen and (max-width : 600px) {
    .header-right-bar {
        padding-top: 4px;
    }
}
