---
layout: default
title: 会社概要
# TICKET-SITE-31: 法務・企業ページには製品キーワードのサフィックスを付けない。
# 「動画にモザイクをかけるAIソフト」を付けると製品クエリに対して法務ページが
# 選ばれるキーワードカニバリが起きるため、ブランド名だけに絞る。
seo_title: 会社概要｜Deepmosaic合同会社
permalink: /company/about
description: Deepmosaic合同会社の会社概要。所在地・設立・資本金・事業内容。
---

{% include header.html %}

<section>
  <div class="mx-auto max-w-3xl px-4 py-12 sm:px-6 rich-prose">

    <h2 class="text-2xl font-bold text-ink mt-8 mb-3 border-b border-edge pb-2">会社概要</h2>

    <div class="overflow-x-auto">
      <table class="w-full border-collapse text-left">
        <tbody>
          <tr class="border-b border-edge even:bg-panel">
            <td class="px-4 py-3 font-medium whitespace-nowrap align-top">社名</td>
            <td class="px-4 py-3 align-top">Deepmosaic合同会社</td>
          </tr>
          <tr class="border-b border-edge even:bg-panel">
            <td class="px-4 py-3 font-medium whitespace-nowrap align-top">設立日</td>
            <td class="px-4 py-3 align-top">2019-05-10</td>
          </tr>
          <tr class="border-b border-edge even:bg-panel">
            <td class="px-4 py-3 font-medium whitespace-nowrap align-top">所在地</td>
            <td class="px-4 py-3 align-top">東京都品川区</td>
          </tr>
          <tr class="border-b border-edge even:bg-panel">
            <td class="px-4 py-3 font-medium whitespace-nowrap align-top">資本金</td>
            <td class="px-4 py-3 align-top">百万円</td>
          </tr>
          <tr class="border-b border-edge even:bg-panel">
            <td class="px-4 py-3 font-medium whitespace-nowrap align-top">事業内容</td>
            <td class="px-4 py-3 align-top">ディープラーニングを用いた映像編集ソフトウェアの企画、開発、販売、コンサルティング<!--<br>2. 個人情報匿名化ソフトウェアの企画、開発、販売、コンサルティング--></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--
    <h2 class="rc-company-chapter">代表略歴</h2>

    <table class="striped highlight">
        <tbody>
          <tr>
            <td>2016-07 ~ 現在</td>
            <td>Rediscontainer株式会社 代表取締役</td>
          </tr>
          <tr>
            <td>2017-03 ~ 2018-06</td>
            <td>ランサーズ株式会社 機械学習エンジニア</td>
          </tr>
          <tr>
              <td>2018-07 ~ 現在</td>
              <td>ソフトバンク株式会社 プロダクトマネジャー</td>
          </tr>
          <tr>
              <td>2019-05 ~ 現在</td>
              <td>Deepmosaic合同会社 代表</td>
          </tr>
        </tbody>
    </table>

    <h2 class="rc-company-chapter">代表実績</h2>
    <p>
      <a href="http://tech.nikkeibp.co.jp/it/atcl/news/17/020503100/" target="_blank">ランサーズが「マルチ商法チェッカー」を無償で公開、検知率は99％</a>
    </p>
    <p>
      <a href="https://bcu30.jp/2018/" target="_blank">
      <img src="/assets/img/bcu30.webp" width="200px">
      </a>
    </p>


    <h2 class="rc-company-chapter">創業メンバー</h2>
    <div class="row">
        <div class="col s2">
            <img >
        </div>
        <div class="col s10">
            <p></p>
        </div>
    </div>
    -->
  </div>
</section>

{% include footer.html %}
