---
layout: default
title: 会社概要
permalink: /company/about
---

{% include header.html %}

<div class="container">
<div class="col-xs-12 rc-company">

<h1 class="rc-company-title">運営会社について</h1>

<h2 class="rc-company-chapter">&trade; Deepmosaic LLC</h2>
<p>Deepmosaic合同会社は、<a href="https://redis.io/">Redisデータベース</a>に特化したホスティングサービスを提供することでスタートしました。モノのインターネット（IoT）化が推進される中で、データの管理はますます重要になってきています。それに伴い、管理しなければならないデータベースは大規模化、複雑化しています。弊社ではデータベース管理者が抱える負担を無くすために、データベースに関する事業を展開しています。</p>
<p>なお、現在はRedisデータベースのホスティングサービスは終了し、Deepmosaicサービスを提供しています。</p>

<table class="striped highlight">
    <tbody>
      <tr>
        <td>社名</td>
        <td>Deepmosaic合同会社</td>
      </tr>
      <tr>
        <td>設立日</td>
        <td>2019-05</td>
      </tr>
      <tr>
        <td>所在地</td>
        <td>東京都品川区</td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>百万円</td>
      </tr>
      <tr>
        <td>代表</td>
        <td>高田 茂臣</td>
      </tr>
    </tbody>
</table>


<h2 class="rc-company-chapter">代表略歴</h2>

<table class="striped highlight">
    <tbody>
      <tr>
        <td>2016-07 ~ 現在</td>
        <td>Deepmosaic合同会社 設立</td>
      </tr>
      <tr>
        <td>2017-03 ~ 2018-06</td>
        <td>Lancers株式会社 機械学習エンジニア</td>
      </tr>
      <tr>
          <td>2018-07 ~ 現在</td>
          <td>ソフトバンク株式会社 プロダクトマネジャー</td>
      </tr>
    </tbody>
</table>

<h2 class="rc-company-chapter">代表実績</h2>
<p>
  <a href="http://tech.nikkeibp.co.jp/it/atcl/news/17/020503100/" target="_blank">ランサーズが「マルチ商法チェッカー」を無償で公開、検知率は99％</a>
</p>
<p>
  <a href="https://bcu30.jp/" target="_blank">
  <img src="/assets/img/bcu30.png" width="200px">
  </a>
</p>

</div>
</div>

{% include footer.html %}
