---
layout: default
title: クッキーポリシー
permalink: /company/cookie
---

{% include header.html %}

<div class="container">
<div class="col-xs-12 rc-company">

<h1 class="rc-company-title">クッキーポリシー</h1>
<p>最終更新日: 2019-6-1</p>

<p>Deepmosaic合同会社（以下「当社」といいます。）は、お客様のプライバシーの保護に努めています。当社は信頼性の高い業界最高水準の製品・サービスの提供を目ざします。プライバシーの保護に向けて、当社のデータ活用に関してお客様にわかりやすい情報をお届けする所存です。<br>本クッキーポリシーでは、クッキーとは何か、当社ウェブサイトの利用時にお客様のデバイスにどのような種類のクッキーが記録されるのか、それを当社はどのように使用するか、といった点について説明します。</p>

<p>本クッキーポリシーは、当社によるお客様の個人情報の取扱いを全体的に規定するものではありません。当社による顧客個人情報の取扱方法については、<a href="/company/privacy.html">こちら</a>より当社プライバシーポリシーを参照願います。</p>

<h2 class="rc-company-chapter">クッキーとは？</h2>
<p>クッキーとは、お客様のウェブブラウザやデバイスのメモリに送信されたり、そこからアクセスされたりする小さなサイズのテキストファイルです。通常はクッキーが送出されたインターネット上の位置であるドメイン名、クッキーが失効するまでの「有効期間」、ランダムに生成される固有の番号または類似の識別子を含みます。また、ユーザー設定のほか、当社サービス利用時におけるブラウザの閲覧履歴やブラウジング活動など、お客様のデバイスに関する情報を含む場合もあります。</p>

<h2 class="rc-company-chapter">クッキーの種類</h2>
<p>クッキーはまず、ファーストパーティー・クッキーとサードパーティー・クッキーに大別されます。ファーストパーティー・クッキーは、直接当社によってお客様のデバイスに記録されるものです。これには例えば、お客様のブラウザの言語設定に当社ウェブサイトを適合させたり、お客様による当社ウェブサイトの使用法を把握したりする目的があります。それに対してサードパーティー・クッキーは、当社のパートナー企業やサービスプロバイダーによってお客様のデバイスに記録されるものです。当社はこの種のクッキーを、当社ウェブサイトにアクセスするユーザー数の計測のほか、ソーシャルメディアのプラットフォーム間でのお客様と他者とのコンテンツ共有を可能にする目的で使用しています。</p>
<p>また、セッションクッキーとパーシステントクッキーがあります。セッションクッキーとは、お客様がブラウザを閉じると削除されるものです。このクッキーを使用する目的は、1回のブラウザセッションにおけるお客様による当社ウェブサイトの利用方法を把握することや、お客様による当社ウェブサイトのより効率的な利用を実現することなど、さまざまです。パーシステントクッキーはより長期にわたって保存され、お客様がブラウザを閉じても自動的に削除されることはありません。この種のクッキーは主として、お客様による当社ウェブサイトへのサインインの迅速化や分析の目的で使用されます。</p>

<h2 class="rc-company-chapter">ウェブビーコンなどのトラッキング技術</h2>
<p>ウェブビーコン（別名、ピクセルタグ、クリアGIF）、トラッキングURL、ソフトウェア開発キット（SDK）などの技術も同様の目的に使用されます。ウェブビーコンとは小さなサイズの画像ファイルであり、固有識別子を含み、当社サービスへの訪問や当社より送信したメールの開封を察知することができます。トラッキングURLとは、当社ウェブページへのトラフィックがどこから来ているかを把握する目的でカスタム生成されるリンクです。SDKは小さなコードで、アプリケーションに含まれていてクッキーやウェブビーコンと同じような働きをします。</p>
<p>簡略化するため、本クッキーポリシーではこうした技術を「クッキー」と総称することとします。</p>

<h2 class="rc-company-chapter">クッキーの使用目的</h2>
<p>オンラインサービスのプロバイダーの多くと同様に、お客様の設定の記憶や当社ウェブサイトへのアクセスの察知、お客様の興味に合わせた広告の個人化やカスタマイズなど、当社はサービスの提供・確保・改善を目的としてクッキーを活用しています。これらの目的を達成するため、クッキーで収集した情報を、当社が保有するお客様のその他の個人情報とリンクさせる場合もあります。</p>

<p>当社ウェブサイトの訪問時に、以下の種類のクッキーの一部または全部がお客様のデバイスに記録される可能性があります。</p>

<table class="striped highlight">
<thead>
  <tr>
      <th>クッキーの種類</th>
      <th>説明</th>
  </tr>
</thead>

<tbody>
  <tr>
    <td>エッセンシャル・ウェブサイトクッキー</td>
    <td>セキュアエリアへのアクセスなど、当社ウェブサイト上で利用可能なサービスをお客様に提供したり、その機能の一部を使用したりする際に欠かせないクッキー。</td>
  </tr>
  <tr>
    <td>分析クッキー</td>
    <td>セキュアエリアへのアクセスなど、当社ウェブサイト上で利用可能なサービスをお客様に提供したり、その機能の一部を使用したりする際に欠かせないクッキー。</td>
  </tr>
  <tr>
    <td>広告クッキー</td>
    <td>お客様に関連性が高い広告メッセージを提供する目的で使用されるクッキー。同一広告の継続的再表示の防止、広告主にとっての広告表示の適切化、お客様の興味に即した広告の選定、表示される広告の数や効果の計測（特定の広告のクリック数など）といった機能を有しています。</td>
  </tr>
  <tr>
    <td>ソーシャルネットワーキング・クッキー</td>
    <td>お客様が当社ウェブサイトで興味を感じたページやコンテンツをサードパーティー・ソーシャルネットワーキングやその他のウェブサイトを介して共有できるようにするためのクッキー。広告目的に使用される場合もあります。</td>
  </tr>
</tbody>
</table>

<h2 class="rc-company-chapter">クッキーの管理方法</h2>

<p>クッキー管理にはいくつかのオプションが存在します。クッキー設定を変更することで、当社ウェブサイトの閲覧に不満が生じる可能性があり、当社サイトの全部または一部が使用不能になる場合もあるかもしれません。</p>

<p class="oblique-text">ブラウザおよびデバイスの管理</p>

<p>ウェブブラウザの中には、クッキーの管理や拒否、クッキーがお客様のコンピュータに記録されるときの警告などの設定を行えるものがあります。クッキー管理の手順は、個々のインターネットブラウザによって多少異なります。具体的な手順は、お客様が使用しているブラウザのヘルプメニューで確認できます。</p>

<p>また、お客様のモバイル機器上で適切な設定を有効にすれば、デバイス識別子のリセットも可能な場合があります。デバイス識別子を管理する手順は、デバイスによってやや異なります。お客様の特定のデバイスのヘルプメニューまたは設定メニューで具体的な手順を確認してください。</p>

<p class="oblique-text">興味・関心に基づく広告ツール</p>

<p>お客様は、デジタル広告連合、インタラクティブデジタル広告連合Appchoices（アプリケーションのみ）を通じて、興味・関心に基づく参加企業の広告の閲覧をオプトアウトすることができます。</p>

<p>オプトアウトすることは、広告を一切閲覧しないということではなく、オプトアウトプログラムに参加する企業からのパーソナライズド広告は閲覧しないという意味です。また、お客様がオプトアウトした後にデバイス上のクッキーを削除すると、再度オプトアウトの必要が生じます。</p>

<h2 class="rc-company-chapter">ソーシャルクッキー</h2>

<p>お客様がソーシャルメディア上のコンテンツを共有できるようにするため、本ウェブサイトの一部の機能はソーシャルメディアのプラグイン（Twitter™［Share to Twitter］またはLinkedIn™［IN］ボタンなど）を使用しています。当社ウェブサイトで対応するボタンを使用すると、お客様のソーシャルメディア・アカウントの設定によっては、当社はそのソーシャルメディア・プラットフォームより情報を自動的に受け取ります。<br>
ソーシャルメディア・クッキーの詳細については、お客様のソーシャルメディア・プラットフォームのクッキーポリシーおよびプライバシーポリシーをご参照ください。</p>

<h2 class="rc-company-chapter">Google™クッキー</h2>

<p class="oblique-text">Google Analytics</p>

<p>当社はGoogle AnalyticsというGoogleのサービスを使用しています。これは、ウェブサイトのトレンド報告を目的として、クッキーやその他のデータ収集技術を駆使してお客様のウェブサイトの使用状況に関する情報を収集するものです。</p>

<p>Google Analyticsをオプトアウトするには、<a href="http://www.google.com/settings/ads">www.google.com/settings/ads</a>にアクセスするか、または<a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>よりGoogle Analyticsオプトアウト・ブラウザ・アドオンをダウンロードしてください。</p>

<h2 class="rc-company-chapter">問い合わせ先</h2>

<p>本クッキーポリシーに関してご不明な点があれば、以下の当社窓口までお問い合わせください。<br>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSedhPxi0r55_iIp8d02qKiFVSG-91P0qib0U6ayKpACw0NLzg/viewform" target="_blank">お問い合わせ</a></p>

</div>
</div>

{% include footer.html %}
